.react-grid-Row:hover .rdg-row-index {
  display: none;
}

.react-grid-Row:hover .rdg-actions-checkbox {
  display: block;
}

.react-grid-Row:hover .rdg-drag-row-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  width: 12px;
  height: 30px;
  margin-left: 0px;

}


.react-grid-row-index {
    padding: 0 18px;
}

.rdg-row-index {
  display: block;
  text-align: center;
}

.rdg-row-actions-cell {
  padding: 0px;
}

.rdg-actions-checkbox {
  display: none;
  text-align: center;
}

.rdg-actions-checkbox.selected {
  display: block;
}

.rdg-dragging {
    /*cursor: url(http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur);*/
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.rdg-dragged-row {
  border-bottom: 1px solid black
}

.rdg-scrolling {
  pointer-events: none;
}
